h1{
    font-size: 50px;
    color: #484747;
    padding-left: 5px;
}

.header {
    padding: 20px;
    background: #A1C5DA;
}

.actions {
position: fixed;
  top: 12px;
  right: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 1000;
}


.icon-btn {
    width: 50px; height: 50px;
  display: inline-flex; align-items: center; justify-content: center;
  border: none; background: transparent; cursor: pointer;
  color: #484747;
  border-radius: 8px;
}

.hamburger { 
  display: inline-flex;
  flex-direction: column;   /* stack bars vertically */
  justify-content: center;
  gap: 6px;                 /* space between bars */
  width: 50px; height: 50px;
  background: transparent; border: none; cursor: pointer;
  color: #484747;
}

.hamburger span {
width: 30px; height: 4px;
  background: currentColor;
  border-radius: 2px;
}


#langBtn { 
    position: relative; 
}

.lang-menu {
position: absolute;
  top: 56px;      /* below the 50px button */
  right: 0;       /* right-align with the globe */
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0,0,0,.08);
  padding: 6px;
  display: none;
  z-index: 2001;  /* above header/actions */
}

.lang-menu.open { 
    display: block; 
}

.lang-menu button {
  display:block; width:100%;
  padding:8px 12px; background:transparent; border:none; text-align:left; cursor:pointer;
}

.lang-menu button:hover { 
    background:#f3f6f8; 
}

.sidenav {
  position: fixed; top: 0; right: 0;
  height: 100vh; width: 280px;
  background: #484747; color: #fff;
  opacity: 5;
  padding-top: 60px;
  transform: translateX(100%);      /* hidden off-screen to the right */
  transition: transform .35s ease;  /* slide animation */
  z-index: 2000;
}
.sidenav.open {
  transform: translateX(0);         /* slide in */
}

.sidenav a { padding: 8px 16px 8px 32px; color: #bbb; text-decoration: none; display: block; }
.sidenav a:hover { color: #fff; }
.sidenav .closebtn { position: absolute; top: 0; right: 16px; font-size: 36px; }

#main { transition: margin-right .35s ease; }

/* From Uiverse.io by alexruix */ 
.group {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  height: 30px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: white;
  color: #0d0c22;
  box-shadow: 0 0 5px #A1C5DA, 0 0 0 10px #A1C5DA;
  transition: .3s ease;
}

.input::placeholder {
  color: #777;
}

.icon {
  position: absolute;
  top: 50%;    
  left: 0.8rem;  
  fill: #777;
  width: 1rem;
  height: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
}